.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 1rem;
    border: 1px solid rgb(255, 255, 255);
    padding: 1rem 10%;
    border-radius: 2rem;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgb(15, 27, 139) 0%, rgb(18, 233, 89) 100%);
}