.container {
    height: 100%;
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgb(15, 27, 139) 0%, rgb(18, 233, 89) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 40rem;
    margin: auto;
    background-color: rgb(235, 235, 235);
    padding: 4rem 1rem;
    border-radius: 1rem;
}

h1 {
    width: 100%;
    text-align: center;
}

img {
    height: 15rem;
    width: 100%;
    margin: 1.5rem auto 1.5rem auto;
    border-radius: 2rem;
}

.full-width {
    width: 100%;
}

button {
    margin-top: 1.5rem;
}

mat-icon {
    opacity: .6;
}